# Excluded folders
Elena/
eye_data/
Compare_methods/
masters_code/
scanning/traveling_wave_H2_H1.m
code/name_change.m

# Binary/data files
*.mat
*.fig
*.asv
*.dat

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/
